.gallery-image img {
    width: 100%;
}

header .header-banner {

    background-image: url("img/header.png");
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    }

    header h1 {

        font-family: "Gentium Basic", serif;
        font-weight: 700;
        font-style: italic;
        font-size: 60px;
        line-height: 70px;
        text-transform: uppercase;
        
    }
        
    header h2 {
        
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 5px;
    text-transform: uppercase;
        
    }

    header .logo {
        width:100%;
        vertical-align: middle;
        text-align: center;
        padding: 10px 0 20px 0;
        
    }

    header nav ul {

        display: flex;
        margin: 0;
        padding: 0;
        text-align: left;
        justify-content: space-around;
        
    }
        
    header nav ul li {
        
        display: inline-block;
        padding: 16px 16px;
        
    }

    nav ul li a {

        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 3px;
        color: #172029;
        text-transform: uppercase;
        text-decoration: none;
        
    }

    nav img{
        height: calc(100vh - 500px);
        width: 100%;
    }

    footer {

        width: calc(100% - 80px);
        padding: 40px 40px;
        background-color: #172029;
        margin-top: 20px;
        overflow: hidden;
    }

    .disclaimer {

        display: none;
        
    }

    footer ul {

        width: fit-content;
        float: left;
        padding-left: 0px;
        
        }
        
    footer ul li {
        
        display: block;
        padding: 0 0 10px 0;
        
    }
        
    footer ul li p {
        
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
        font-size: 18px;
        letter-spacing: 2px;
        color: #ffffff;
        text-transform: uppercase;
        
    }
        
    footer ul li a {
        
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 3px;
        color: #ffffff;
        text-transform: uppercase;
        text-decoration: none;
        
    }


    .footer-sm {

        width: 32px;
        float: right;
        
    }
        
    .footer-sm img {
        
        width: 100%;
        margin-bottom: 10px;
        
    }

    hr {

        color: #4f5663;
        border-width: 2px;
        width: 30%;
        margin: 0 auto;
        margin-bottom: 5px;
        
    }

    .about-us div{
        margin: 35px;
        font-size: 14px;
        line-height: 1.6;
    }
        
    .gallery-h2 {
        
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 3px;
        color: #172029;
        text-transform: uppercase;
        text-decoration: none;
        text-align: left;
        margin: 35px
    }

    .gallery-image {

        margin: 10px;
        position: relative;
        text-align: center;
        -webkit-flex-basis: 300px;
        -moz-flex-basis: 300px;
        flex-basis: 300px;
    } 
        
    .post-header {       
        
        /*kujundus*/
        
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        font-size: 22px;
        letter-spacing: 3px;
        line-height: 24px;
        color: #ffffff;
        text-transform: uppercase;
        text-shadow: 3px 3px 9px #111111;
        
           /*positsioneerimine*/
        
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }

    .gallery-links {

        display: flex;
        flex-flow: row wrap;
        display: -webkit-flex;
        -webkit-flex-flow: row wrap;
        display: -moz-flex;
        -moz-flex-flow: row wrap;
        justify-content: center;
        -o-flex-flow: row wrap;
    }

    .gallery-links img{
        height: 250px;
        width: 250px;
        border-radius: 60%;
    }

    .chefs {

        display: none;
        
        }

    
    @media only screen and (min-width: 950px) {   

        header .header-banner {
        
            height: calc(100vh - 600px);
        
        }   
        
        header h1 a {
        
            font-size: 80px;
        
        }  
        
        header h2 {
            font-size: 60px;
            margin-top: 20px;
        
        }
        
        header nav ul li {
        
            padding: 16px 42px;
        
        }

        .chefs {

            display: flex;
            
            }

        .about-us-info{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .about-us-info div{
            width: 40%;
        }

        .about-us-info div img{
            height: 400px;
            width: 100%;
        }

    
    }
